kind: EncryptionConfiguration
apiVersion: apiserver.config.k8s.io/v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: gKosSfT9sRCaYxhkBv0VrVJrD/m6dAUnjCxL6WjIBAM=
      - identity: {}
